<footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 font-weight-bold">Faculter de sciences et technique Beni Mellal</h5>

          <p>
              Cet établissement est destiné à s’intégrer dans le pôle technologique et industriel de la regione  Beni Mellal Khenifra ,pour être, une pépiniére de techniciens et de cadres de haut niveau
          </p>

     

          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 col-lg-3 col-xl-4 mx-auto ">
          <h5 class="text-uppercase mb-4 font-weight-bold " style="margin-left: 1.80em;">Contactez-nous</h5>

          
          <ul class="fa-ul" style="margin-left: 1.65em;margin-top: 12.1%;">
            <li class="mb-3">
              <span class="fa-li" style="margin-top: 1.5%;"><i class="fas fa-home"></i></span><span class="ms-2"> Campus  Mghilla,  BP 523  ,  23000  Béni Mellal </span>
            </li>
            <li class="mb-3">
              <span class="fa-li" style="margin-top: 1.5%;"><i class="fas fa-envelope"></i></span><span class="ms-2">fstbm@usms.ma</span>
            </li>
            <li class="mb-3">
              <span class="fa-li" style="margin-top: 1.5%;"><i class="fas fa-phone"></i></span><span class="ms-2">212 (0) 523 48 51 12/22/82</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto ">
          <h5 class="text-uppercase mb-4">Accès rapide</h5>
          <div class="list-group list-group-flush" style="margin-top: 13.1%;"  >
              <a href="#" style="background-color:transparent  ;" class="link-light list-group-item text-white border-bottom">Accueil</a>
            
            
              <a href="#" style="background-color:transparent  ;" class="border-bottom list-group-item text-white">Departement</a>
              <a href="#"style="background-color:transparent  ;" class="border-bottom list-group-item text-white">Formation</a>
              
             </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <section class="mb-4 text-center"style="">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

    </section>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://fstbm.ac.ma/">fstbm.ac.ma</a>
    </div>
    <!-- Copyright -->
  </footer>