<section class="news-detail-header-section text-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h1 class="text-white">La Faculté des Sciences et Techniques</h1>
            </div>

        </div>
    </div>
</section>
<section class="section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>Les enseigants de Département Informatique</h2>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap show-shadow">
                    <img src="../../../assets/images/placeholder.PNG" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Rachid Benkitou</h5>
                            <p>Enseignant de module Spring Boot 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>