<div class="headerCss">
    <header class="site-header">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-ge me-2"></i>
                        Université Sultan Moulay Slimane
                    </p>

                    <p class="d-flex mb-0">
                        <i class="fas fa-envelope me-2" style="position: relative;bottom: -10%;"></i>

                        <a href="mailto:fstbm@usms.ma">
                            fstbm@usms.ma
                        </a>
                    </p>
                </div>

                

            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg  shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="../../../assets/images/logo.png" class="logo img-fluid" alt="Kind Heart Charity">
                <span>
                    Faculté des Sciences et Techniques

                  
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">About</a>
                    </li>  

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Structure</a>
                    </li>                    

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Formation</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="donate.html">se connecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    