<div class="section-body">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-action">
        <h1 class="page-title">Étudiants</h1>
        <ol class="breadcrumb page-breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard']">FSTBM</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard/ADMIN/etudiants']">Étudiants</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <span *ngIf="mode === 'add'">Ajout</span>
            <span *ngIf="mode === 'edit'">Modification</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="section-body mt-4">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Les informations d'étudiant</h3>
          </div>
          <form class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Nom <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nom de famille"
                  name="nom" [(ngModel)]="etudaint.nom"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Prénom <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Prénom"
                  name="prenom" [(ngModel)]="etudaint.prenom"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >CIN <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="cin" [(ngModel)]="etudaint.cin"
                />
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Email</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="email" [(ngModel)]="etudaint.email"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">password</label>
              <div class="col-md-9">
                <input
                  type="password"
                  class="form-control"
                  name="email" [(ngModel)]="user.password"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Date de Naissance</label>
              <div class="col-md-9">
                <input
                  type="date"
                  class="form-control"
                  placeholder="Date of Birth"
                  name="dateNaissance" [(ngModel)]="etudaint.dateNaissance"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Numéro de téléphone <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="tel" [(ngModel)]="etudaint.tel"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Address <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="address" [(ngModel)]="etudaint.adress"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
              >Ville <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="ville" [(ngModel)]="etudaint.ville"
                />
              </div>
            </div>
           
            <div class="col-sm-12 action-buttons">
              <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
              <button type="cancel" class="btn btn-outline-secondary">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
