
    <main>
        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../../assets/images/slide/la-faculte-lg.jpg" class="carousel-image img-fluid" alt="...">
                                </div>

                                <div class="carousel-item">
                                    <img src="../../../assets/images/slide/presentation-sm.jpg" class="carousel-image img-fluid" alt="...">                                  
                                </div>
                                <div class="carousel-item">
                                    <img src="../../../assets/images/slide/CFC1.jpg" class="carousel-image img-fluid" alt="...">                                  
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">FST-BM en chiffres
                        </h2>
                    </div>

                   

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a  class="d-block">
                                <img src="../../../assets/images/icons/teacher.jpg" width="42%" style="margin-top: 0%;" class="featured-block-image img-fluid" alt="">
                                <div class="counter-thumb " style="margin-left: 30%;" > 
                                    <div class="d-flex" >
                                        <span style="margin-left: 15%;" class="counter-number" >{{nbrTeacher}}</span>
                                        <span class="counter-number-text"></span>
                                    </div>

                                    
                                </div> 
                                <p class="featured-block-text"><strong>Enseignants</strong> </p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a class="d-block">
                                <img src="../../../assets/images/icons/departement.png" style="width: 45%;" class="featured-block-image img-fluid" alt="">
                               
                                <div class="counter-thumb " style="margin-left: 30%;" > 
                                    <div class="d-flex text-center">
                                        <span style="margin-left: 20%;" class="counter-number" >{{nbrDepartement}}</span>
                                        <span class="counter-number-text"></span>
                                    </div>

                                    
                                </div> 
                                <p class="featured-block-text"> <strong>Départements</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a  class="d-block">
                                <img src="../../../assets/images/icons/students.jpg" style="width: 40%;" class="featured-block-image img-fluid" alt="">
                                <div class="counter-thumb " style="margin-left: 40%;" > 
                                    <div class="d-flex">
                                        <span class="counter-number" >{{nbrStudent}}</span>
                                        <span class="counter-number-text"></span>
                                    </div>

                                    
                                </div> 
                                <p class="featured-block-text"><strong>Étudiants</strong></p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-padding section-bg">
            <div class="container">
                <div class="col-lg-10 col-12 text-center mx-auto">
                    <h2 class="mb-5">ABOUT US
                    </h2>
                </div>
                <div class="row " >
                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="custom-text-box">
                            <h3 class="mb-0">Présentation
                            </h3>
                            <p>
                                La Faculté des Sciences et Techniques de Beni Mellal (FSTBM) relevant de l’Université Sultan Moulay Slimane 
                                a été créée en 1994. C’est un établissement public d’enseignement supérieur scientifique et technique à accès 
                                régulé dont le but est de développer des programmes d’enseignement et de recherche répartis sur quatre cycles 
                                (Licence, Master, Cycle d’Ingénieur et Doctorat) offerts par neuf départements : Sciences de la Vie, Sciences 
                                de la Terre, Chimie et Environnement,
                                 Physique, Mathématiques, Informatique, Génie Electrique, Génie Mécanique et Langues et Communication.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-12 " >
                        
                       <img width="100%" src="../../../assets/images/slide/instances-sm.jpg" style="border-radius: 10px;"></div>
                    </div>
                    

                </div>
                <div class="row" style="width: 100%;"> 
                    <div class="col-lg-6 col-md-5 col-12">
                    
                    <img src="../../../assets/images/slide/doyen-1-sm.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                </div>

                <div class="col-lg-6 col-md-7 col-12" style="max-width: 670px;">
                    <div class="custom-text-box">
                        
                        <h3 class="mb-0">Mot Du Doyen</h3>
                        <p class="text-muted mb-lg-4 mb-md-4">Said MELLIANI</p>

                        <p>je suis fier de diriger la Faculté des Sciences et Techniques de Beni Mellal (FSTBM) relevant de
                             L’Université Sultan Moulay Slimane (USMS). C’est un grand défi pour moi et un grand honneur.
                              Qui plus est, assumer une telle responsabilité exige détermination, crédibilité et de grands 
                              sacrifices. Ainsi, je suis prêt à relever tous les défis grâce
                             à l’implication inclusive du corps professoral et administratif et des opérateurs concernés.</p>
                        
                    </div>
                </div>
            </div>
           
        </section>
<section class="" >
    <div >
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.5817091610934!2d-6.322708825798677!3d32.376764904335715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda3865768e5fd2f%3A0xa9155034f61854d4!2sUniversit%C3%A9%20Sultan%20Moulay%20Slimane%20%3A%20Facult%C3%A9%20des%20Sciences%20et%20Techniques!5e0!3m2!1sfr!2sma!4v1682905415443!5m2!1sfr!2sma" 
           width="100%" height="300" style="border:0; border-radius: var(--border-radius-medium);" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                 

    </div>
</section>
    </main>   

