<div class="section-body">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-action">
        <h1 class="page-title">Filiere</h1>
        <ol class="breadcrumb page-breadcrumb">
          <li class="breadcrumb-item"><a href="#">FSTBM</a></li>
          <li class="breadcrumb-item active" aria-current="page">Filiere</li>
        </ol>
      </div>
      <ul class="nav nav-tabs page-header-tab">
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            [routerLink]="['/dashboard/ADMIN/filieres/add']"
            >Add</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section-body mt-4">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="ID:" />
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nom" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Department"
              />
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-primary btn-block"
              title=""
              >Search</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive card">
      <table
        class="table table-hover table-vcenter table-striped mb-0 text-nowrap"
      >
        <thead>
          <tr>
            <th>Nom de filiere</th>
            <th>Niveau</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filiereList.length == 0">
            <td colspan="4" class="text-center">No data found</td>
          </tr>
          <tr *ngFor="let filiere of filiereList">
            <td>{{ filiere.name }}</td>
            <td>{{ filiere.niveau }}</td>
            <td>
              <button type="button" class="btn btn-icon btn-sm" title="Edit" (click)="editFiliere(filiere.id)">
                <i class="fa fa-edit"></i>
              </button>
              <button
                type="button"
                class="btn btn-icon btn-sm js-sweetalert"
                title="Delete"
                data-type="confirm"
                (click)="deleteFiliere(filiere.id)"
              >
                <i class="fa fa-trash-o text-danger"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
