<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../../assets/login/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>
            <form class="login100-form validate-form" [formGroup]="login">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">email</span>
                    <input formControlName="email" [(ngModel)]="connexion.username" class="form-control" type="email" name="email" placeholder="Email" autofocus="" autocomplete="on" inputmode="verbatim">
                    <span class="focus-input100"></span>
                    
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input   formControlName="password" [(ngModel)]="connexion.password" class="form-control input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn ">
                    <button class="login100-form-btn " (click)="Connexion()">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

