<br><br>
<div class="card  w-75  m-lg-auto  " >
  <div class="card-body">
    <h5 class="card-title">Informations</h5>
    <div class="form-group row">
    <label class="col-md-5 col-form-label">Nom: cccccccc</label>
      <label class="col-md-5 col-form-label">Prenom: cccccccccc </label></div>

    <div class="form-group row">
      <label class="col-md-5 col-form-label">CIN: ccccccccccc</label>
      <label class="col-md-5 col-form-label"> Date de Naissance: ccccccccc</label></div>
      <div class="form-group row">
    <label class="col-md-5 col-form-label">Filiere:ccccccc</label>
        <label class="col-md-5 col-form-label">Niveau:cccccccc</label></div>
    <div class="form-group row">
      <label class="col-md-5 col-form-label">Apogee:ccccccc</label>
      </div>

  </div>
</div>
