<div class="section-body">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-action">
        <h1 class="page-title">Départements</h1>
        <ol class="breadcrumb page-breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard']">FSTBM</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard/ADMIN/departements']">Départements</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Ajout / Modification
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="section-body mt-4">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Les informations du departement</h3>
          </div>
          <form class="card-body" (ngSubmit)="save()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Nom Departement<span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nom Departement" [(ngModel)]="departementName" name="nomDepartement"
                />
              </div>
            </div>
            
            <div class="col-sm-12 action-buttons">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="cancel" class="btn btn-outline-secondary">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
