<div class="section-body">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-action">
        <h1 class="page-title">Examens</h1>
        <ol class="breadcrumb page-breadcrumb">
          <li class="breadcrumb-item"><a href="#">FSTBM</a></li>
          <li class="breadcrumb-item active" aria-current="page">Examens</li>
        </ol>
      </div>
      <ul class="nav nav-tabs page-header-tab">
        <li class="nav-item">
          <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-block" title=""
            [routerLink]="['/dashboard/ENSEIGNANT/exams/add']">Ajouter un Examen</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section-body mt-4">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">


        <form [formGroup]="searchFormGroup" >
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="keyword1" placeholder="Module Name" />
              </div>
            </div>
  
                  <div class="col-lg-4 col-md-4 col-sm-6">
                  <select class="form-control input-height" name="department"  formControlName="keyword2">
                    <option value="">None</option>
                    <option value="SEMESTRE1">S1</option>
                    <option value="SEMESTRE2">S2</option>
                    <option value="SEMESTRE3">S3</option>
                    <option value="SEMESTRE4">S4</option>
                     <option value="SEMESTRE5">S5</option>
                    <option value="SEMESTRE6">S6</option>
                  </select>
                </div>
  
            <div class="col-lg-2 col-md-4 col-sm-6">
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-primary btn-block"
                title=""
                (click)="gotolist()"
                >Search</a
              >
            </div>
  
          </div>
          </form>

      </div>
    </div>
    <div class="table-responsive card">


      <div class="row" style="margin-right: 13px;">
        <div class="col-sm-3" *ngFor="let e of examenList">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Examen: {{e.module.moduleName}}</h5>
              <p class="card-text">Type: {{e.type}}</p>
              <p class="card-text">Date: {{e.dateExam}}</p>
              <a  class="btn btn-primary" style="margin: 10px; color: aliceblue;" (click)="onEditExamen(e.id)">Modifier</a>
              <a class="btn btn-primary" style=" color: aliceblue;" data-type="confirm" (click)="handelDeleteExamen(e)">Supprimer</a>
            </div>
          </div>
        </div>



      </div>


    </div>
  </div>
</div>