<section class="news-detail-header-section text-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h1 class="text-white">La Faculté des Sciences et Techniques</h1>
            </div>

        </div>
    </div>
</section>
<main>


    <section class="section-padding" id="section_3">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-4">
                    <h2>Les Départements</h2>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 " [routerLink]="['/enseignant']">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-informatique.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Informatique</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 ">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-physique.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Physique</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-mathematique.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Mathématiques</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 ">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-langue-communication.PNG" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Langues et Communications</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-science-vie.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Sciences de la Vie</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/departement-mecanique.PNG" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Génie Mécanique</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/chimie.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <a href="donate.html" class="custom-btn btn text-font">Chimie et Environnement</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/electrique.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Génie Electrique</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap margin-bottom">
                        <img src="../../../assets/images/departements/terre.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block ">
                            <a href="donate.html" class="custom-btn btn text-font">Sciences de Terre</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>