<div class="section-body">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div class="header-action">
          <h1 class="page-title">Examens</h1>
          <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard']">FSTBM</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard/ENSEIGNANT/examens']">Examens</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Ajout / Modification
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="section-body mt-4">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Les informations du Examen</h3>
            </div>
            <form [formGroup]="formGroup"  class="card-body" >
  
              <div class="form-group row">
                <label  class="col-md-3 col-form-label">Type Examen <span class="text-danger">*</span></label>
                   <div class="col-md-9">
                  <select class="form-control input-height"  formControlName="type" >
                    <option value="ORDINAIRE"> Ordinaire</option>
                    <option value="RATTRAPAGE"> Rattrapage</option>
  
                  </select>
                     <small *ngIf="formGroup.controls['type'].errors && formGroup.controls['type'].touched" class="text-danger">
                       {{getErrorMessag('Type',formGroup.controls['type'].errors )}}</small>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label"
                  >Date d'examen <span class="text-danger">*</span></label
                >
                <div class="col-md-9">
                  <input type="date"  formControlName="dateExam" class="form-control" placeholder="" />
                   <small *ngIf="formGroup.controls['dateExam'].errors && formGroup.controls['dateExam'].touched" class="text-danger">
                     {{getErrorMessag('Date',formGroup.controls['dateExam'].errors )}}
          </small>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label"
                  >Module <span class="text-danger">*</span></label
                >
                <div class="col-md-9">
                  <select class="form-control input-height" formControlName="module"  aria-label="Default select example">
                    <option *ngFor="let m of modules " [value]="m.moduleId" >{{m.moduleName}} / {{m.moduleSemestre}}</option>
  
                  </select>
                     <small *ngIf="formGroup.controls['module'].errors && formGroup.controls['module'].touched" class="text-danger">
                       {{getErrorMessag('module',formGroup.controls['module'].errors )}}</small>
                </div>
              </div>
  
              <div class="col-sm-12 action-buttons">
                <button type="submit" class="btn btn-primary"  (click)="handleAddProduct()">Submit</button>
                <button type="cancel" class="btn btn-outline-secondary" [routerLink]="['/dashboard/ENSEIGNANT/exams']">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  